:root {
  --md-admonition-icon--c: url("../assets/icons/c_logo.svg");
}
.md-typeset .admonition.c,
.md-typeset details.c {
  border-color: rgb(0, 89, 156);
}

.md-typeset .c > .admonition-title,
.md-typeset .c > summary {
  background-color: rgba(0, 89, 156, 0.1);
}

.md-typeset .c > .admonition-title::before,
.md-typeset .c > summary::before {
  background-color: rgb(0, 89, 156);
  -webkit-mask-image: var(--md-admonition-icon--c);
    mask-image: var(--md-admonition-icon--c);
}
